<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="CommonConnection" connectionString="Server=tcp:opflow.database.windows.net,1433;Initial Catalog=OpFlow;Persist Security Info=False;User ID=OpFlow;Password=Ranerusa#413;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" providerName="System.Data.SqlClient" />
    <add name="RexConnection" connectionString="Server=tcp:opflow.database.windows.net,1433;Initial Catalog=OpFlowUNC;Persist Security Info=False;User ID=OpFlow;Password=Ranerusa#413;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" providerName="System.Data.SqlClient" />
    
    <add name="PushNotificationConnection" connectionString="Endpoint=sb://opflowhub.servicebus.windows.net/;SharedAccessKeyName=DefaultFullSharedAccessSignature;SharedAccessKey=mGSGJvkmvARTROKk41nEpiUKYlBkLtBEWZSnDR8NtCw=" />
  </connectionStrings>
  <appSettings>
    <!-- NotificationHubs specific app setings for messaging connections -->
    <add key="PushNotificationHub" value="OpFlowHub" />
  </appSettings>
</configuration>